<!doctype html>
<html ng-app="app">

<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Optimize mobile viewport -->
    <title>CupiExámenes</title>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" type="text/css">
    <link rel="stylesheet" href="bower_components/angular-resizable/angular-resizable.min.css" type="text/css">
    <link rel="stylesheet" href="css/css.css" type="text/css">
    <link rel="stylesheet" href="css/eclipse.css" type="text/css">
    <link rel="shortcut icon" href="favico.png" type="image/png">
    <link rel="icon" href="favico.png" type="image/png">
    <link rel="apple-touch-icon" href="favico.png" type="image/png">
</head>

<body>
    <!-- Vista de la aplicación con Angular.js-->
    <dir-global></dir-global>
    <div layout="row">
        <span flex-gt-sm="5"></span>
        <div ng-view flex></div>
        <span flex-gt-sm="5"></span>
    </div>
    <!-- Librerías -->
    <!-- Librerías locales -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/moment/locale/es.js"></script>
    <script src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
    <script src="bower_components/ace-builds/src-min-noconflict/ext-language_tools.js"></script>
    <script src="bower_components/angular-ui-ace/ui-ace.js"></script>
    <script src="bower_components/jquery-ui-layout/source/stable/jquery.layout.min.js"></script>
    <script src="bower_components/angular-resizable/angular-resizable.min.js"></script>
    <!-- Archivos de la aplicación Angular.js -->
    <script src="app/app.js"></script>
    <!-- Controllers  -->
    <script src="app/global/global.js"></script>
    <script src="app/global/Http.js"></script>
    <script src="app/global/EventHandler.js"></script>
    <script src="app/login/login.js"></script>
    <script src="app/login/User.js"></script>
    <script src="app/preguntas/preguntas.js"></script>
    <script src="app/preguntas/Compilador.js"></script>
    <script src="app/preguntas/Pregunta.js"></script>
    <script src="app/calificaciones/calificaciones.js"></script>
    <script src="app/calificaciones/Calificacion.js"></script>
    <script src="app/examenes/Examen.js"></script>
    <script src="app/examenes/examenes.js"></script>
</body>

</html>
