<!doctype html>
<html ng-app="app">

<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Optimize mobile viewport -->
    <title>Auditoria</title>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" type="text/css">
    <link rel="shortcut icon" href="favico.png" type="image/png">
    <link rel="icon" href="favico.png" type="image/png">
    <link rel="apple-touch-icon" href="favico.png" type="image/png">
</head>

<body>
    <!-- Vista de la aplicación con Angular.js-->
    <dir-global></dir-global>
    <div ng-view></div>
    <!-- Librerías -->
    <!-- Librerías locales -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/moment/locale/es.js"></script>
    <!-- Archivos de la aplicación Angular.js -->
    <script src="app/app.js"></script>
    <!-- Controllers  -->
    <script src="app/global/global.js"></script>
    <script src="app/global/EventHandler.js"></script>
    <script src="app/login/login.js"></script>
    <script src="app/login/User.js"></script>
    <script src="app/apuestas/apuestas.js"></script>
    <script src="app/apuestas/Apuesta.js"></script>
    <script src="app/sorteos/sorteos.js"></script>
    <script src="app/sorteos/Sorteo.js"></script>
    <script src="app/preguntas/preguntas.js"></script>
    <script src="app/preguntas/Pregunta.js"></script>
</body>

</html>
