
<div layout="row">
    <span flex ="10" flex-gt-xs="40" flex-gt-sm="90" flex-gt-md="100"></span>
    <div layout="column" layout-align="center center">
        <h1>{{examen.nombre}}</h1>
        <md-content>
            <p>{{examen.descripcion}}</p>
        </md-content>
        <div layout="row" layout-align="center center">
            <md-button class="md-primary md-raised" ng-href="#examenes/descripcion">Empezar examen</md-button>
        </div>
    </div>
    <span flex ="10" flex-gt-xs="40" flex-gt-sm="90" flex-gt-md="100"></span>
</div>
