<div flex-layout="column" ng-cloak>
    <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">
            <h3>
                <span>Pregunta </span>
            </h3>
            <span flex></span>
            <h3>
                20%
            </h3>
        </div>
    </md-toolbar>
    <md-content flex>
        <h3>Enunciado</h3>
        <div ui-ace="{
            theme:'eclipse',
            mode:'java',
            require: ['ace/ext/language_tools'],
            advanced: {
                enableSnippets: true,
                enableBasicAutocompletion: true,
                enableLiveAutocompletion: true
            }
        }"></div>

    </md-content>
</div>