<section layout="row" layout-align="center center">
	<md-button ngf-select ng-model="apuestasFile" class="md-raised md-primary">Cargar apuestas</md-button>
	<md-progress-circular md-mode="{{determinate?'determinate':'indeterminate'}}" value="{{loadingStatus}}"></md-progress-circular>

</section>

<section >
	<md-toolbar layout="row" class="md-hue-3">
		<div class="md-toolbar-tools">
			<span>Reporte de carga</span>
		</div>
	</md-toolbar>
	<md-content flex>
		<md-subheader class="md-no-sticky">{{mensaje}}</md-subheader>
		<md-list ng-if ="errores.length > 0" class="md-dense" flex>

			<md-list-item class="md-3-line" ng-repeat="error in errores" ng-click="null">
				<div class="md-list-item-text" layout="column">
					<h4>{{ error.message }}</h4>
				</div>
			</md-list-item>
		</md-list>
	</md-content>
</section>
